<h1>Sign in</h1>

<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<%= form_for(:session, url: sessions_path) do |f| %>
    <p>Current user: 
        <%if @current_user.nil? %>
            No one is logged in!
        <% else %>
            <%= @current_user.name %> is logged in!
        <% end %></p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= link_to "log out", logout_path, method: "delete" %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    
    <%= f.submit "Sign in", class: 'btn btn-primary' %>
<% end %>
<%= link_to "Post Index", posts_path %>